* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body.webpage {
    display: flex;
    justify-content: center;
}

.page {
    background-color: black;
    height: 100%;
}

.head {
    display: flex;
    justify-content: space-between;
    border: 0;
    border-bottom: 1px;
    border-style: solid;
    border-color: #7f7024;
    padding: 17px;
}

.logo {

    img {
        width: 109.5px;
        height: 26.25px;
    }
}

.logs {
    display: flex;
    align-items: center;
}

.club {

    a {
        color: rgb(239 225 85);
    }
}

.connect {
    border: none;
    background-image: linear-gradient(to right, rgb(219 167 50), rgb(251 242 137));
    border-radius: 10px;
    width: 164.28px;
    height: 36px;
    margin-left: 20px;
}

.middle {
    margin: 80px 0 0 0;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first {
    text-align: center;
    font-size: 24px;
    color: white;
    padding: 0px 60px;
    width: 576px;
    height: 72px;
    margin-top: 56px;
}

.image{
    padding: 0 70px;
}

.goat img{
    width: 436px;
    margin: 40px 0 0 0;
    height: 137.99px;
}

.live img{
    width: 436px;
    margin-top: 16px;
}

div.second {
    padding: 112px 0px 128px ;
    /* display: flex;
    justify-content: center; */
}

.button {
    display: flex;
    justify-content: center;

    button {
        width: 572.05px;
        height: 50px;
        border: none;
        border-radius: 10px;
    }

    img {
        height: 15.81px;
        width: 50px;
        margin-right: 10px;
    }

    button:first-child {
        background-image: linear-gradient(to right, rgb(219 167 50), rgb(251 242 137));
        font-size: 17px;
    }

    button:last-child {
        color: rgb(239 225 85);
        background-color: black;
        border: 1px;
        border-style: solid;
        border-color: rgb(239 225 85);
        font-size: 17px;
        margin-left: 8px;
    }
}

.joined {
    display: flex;
    align-items: center;
    width: 1152px;
    height: 70px;
    padding: 0 24px;
    color: white;
    margin-top: 40px;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 10px;
    margin-left: 173px;
    

    .number {
        font-size: 55px;
        margin-right: 15px;
    }

    .people {
        font-size: 17px;
    }
}

#joined {
    /* margin-left: 55px; */
    margin: auto;

}

.tasks {
    width: 1152px;
    margin-top: 40px;
    padding: 40px;
    border-radius: 30px;
    border: 1px solid rgba(128, 113, 43, 1);
    margin-left: 173px;
}

.social {
    width: 1070.4px;
    height: 96px;
}

.socials {
    color: #f9dc53;
    font-size: 46px;
}

.follow {
    color: white;
    font-size: 18px;
    margin-top: 10px;
}

.one, .two {
    margin: 0 12px;
}

.twitter {
    display: flex;
    align-items: center;
    color: white;
    font-size: 24px;
    margin-top: 25px;
    span {
        color: #f9dc53;
    }
}

.tg {
    display: flex;
    align-items: center;
    color: white;
    font-size: 24px;
    span {
        color: #f9dc53;
    }
}

.space {
    margin-left: 15px;
    width: 1px;
    height: 39px;
    background-color: #3E3E3E;
}

.lower, .low {
    width: 1037px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
        color: black;
        font-size: 20px;
        width: 200px;
        height: 46px;
        border: none;
        padding: 8px 32px;
        border-radius: 10px;
        background-image: linear-gradient(to right,rgb(219 167 50),rgb(251 242 137));
    }
}